<div class="container">
    {{!-- <h1 class="text-center" style="font-family: Gabriola;">CAB {{data.dataValues.cabnumber}}</h1> --}}
    <td style="width: 40%;">
        <img src="https://th.bing.com/th/id/R.5193b1978b5bd985db4b1d75c7238eec?rik=Jr8QhAa95k1nTw&riu=http%3a%2f%2fwww.articles4all.org%2fwp-content%2fuploads%2f2012%2f04%2f5650631_l.jpg&ehk=IyImykxtcgkK5CYlY%2bsIE8Sn2Vmw6D2LQvuYUZmxUDE%3d&risl=&pid=ImgRaw&r=0"
            width="40%" height="40%">
    </td>

    <h2 class="text-left" style="font-family: Gabriola;">CAB Model : {{data.dataValues.cabmodel}}</h2>
    <h2 class="text-left" style="font-family: Gabriola;">Vehicle Number : {{data.dataValues.cabnumber}}</h2>
    <h2 class="text-left" style="font-family: Gabriola;">Seats : {{data.dataValues.cabcapacity}}</h2>
    <h2 class="text-left" style="font-family: Gabriola;">2 Luggage Bags</h2>
    <div class="d-grid mt-4">
        <td>
            <a href="/booking/add/{{data.dataValues.id}}" class="btn"
                style="background-color: rgba(24, 79, 111, 0.837);">Book Now..</a>
        </td>
    </div>




</div>