<h1 class="text-center">Booking Deatils</h1>
<div class="container">
    <table class="table table-striped mt-4">
        Traveller name  :  {{data.dataValues.bid}} <br><br>
        Contact number: {{data.dataValues.contactnumber}}<br><br>
        Total number of passengers : {{data.dataValues.passengersno}}<br><br>
        Cab Number : {{data.dataValues.cabnumber}}<br><br>
        Source  : {{data.dataValues.start}}<br><br>
        Destination : {{data.dataValues.end}}<br><br>
        Pickup date : {{data.dataValues.date}}<br><br>
        Pickup time : {{data.dataValues.time}}<br><br>
        Pickup address : {{data.dataValues.paddress}}<br><br>
        Drpoff address : {{data.dataValues.daddress}}<br><br>

        
    </table>

    
</div>