<div style="background-color: rgba(238, 238, 30, 0.151);height:100vh">
    <div
        style="position: absolute;right:78%;top:20%;border:1px solid rgb(13, 74, 110);padding:20px;background-color:bisque">
        <tr>
            <th><b>NAME</b></th>:
            <td>{{data.dataValues.name}}</td>
        </tr><br><br>
        <tr>
            <th><b>EMAIL</b></th>:
            <td>{{data.dataValues.email}}</td>
        </tr><BR><br>
        <tr>
            <th><b>CONTACT NUMBER</b></th>:
            <td>{{data.dataValues.mobile}}</td>
        </tr><br><br>
        <tr>
            <th><b>ADDRESS</b></th>:
            <td>{{data.dataValues.address}}</td>
        </tr><br><br>
        <tr>
            <th><b>DATE OF BIRTH</b></th>:
            <td>{{data.dataValues.dob}}</td>
        </tr><br><br>
        <tr>
            <th><b>GENDER</b></th>:
            <td>{{data.dataValues.gender}}</td>
        </tr><br><br>
        <tr>
            <th><b>PASSWORD</b></th>:
            <td>{{data.dataValues.email}}</td>
        </tr>
    </div>










    <br>
    <div class="col-sm-5 offset-sm-2" style="position: absolute;right:10%">
        <h3 class="text-center" style="font-family:Gabriola;">Update Your Profile</h3>

        <form method="post">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" value="{{data.dataValues.name}}"
                    style="height: 6vh;border-radius:7px;border-color:rgb(11, 136, 231);">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" value="{{data.dataValues.email}}"
                    style="height: 6vh;border-radius:7px;border-color:rgb(11, 136, 231);" readonly>
            </div>
            <div>
                <label for="mobile">Mobile No</label>
                <input type="number" name="mobile" id="mobile" class="form-control" value="{{data.dataValues.mobile}}"
                    style="height: 6vh;border-radius:7px;border-color:rgb(11, 136, 231);">
            </div>
            <div>
                <label for="address">Address</label>
                <textarea name="address" id="address" class="form-control"
                    style="height: 8vh;border-radius:7px;border-color:rgb(11, 136, 231);">{{data.dataValues.address}}
                    </textarea>
            </div>
            <div>
                <label for="dob">DOB</label>
                <input type="date" name="dob" id="dob" class="form-control" value="{{data.dataValues.dob}}"
                    style="height: 6vh;border-radius:7px;border-color:rgb(11, 136, 231);">
            </div>
            <div>
                <label for="gender">Gender</label>
                <input type="text" name="gender" id="gender" class="form-control" value="{{data.dataValues.gender}}"
                    style="height: 6vh;border-radius:7px;border-color:rgb(11, 136, 231);">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" name="password" id="password" class="form-control"
                    value="{{data.dataValues.password}}"
                    style="height: 6vh;border-radius:7px;border-color:rgb(11, 136, 231);">
            </div>
            <div class="d-grid mt-4">
                <button class="btn" style="background-color:rgb(20, 73, 147)
                    ;">Update</button>
            </div>
        </form>
    </div>

</div>